/* CONFIGURAÇÕES GERAIS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: didot, serif;
    background-color: #fff8f0;
    color: #0f0101;
}

/* MENU FIXO*/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #332b2b;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1000;
}

.logo {
    color: #c02020;
    font-size: 24px;
    font-weight: bold;
}

.links a {
    color:white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

.links a:hover {
    color: #6b3636;
}

/* BANNER */

.banner {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("The\ devil\ wears\ PRADA.png");
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

.banner p {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    background-color: #963232;
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #d62828;
}

/* Conteúdo interno do banner centralizado */
.banner-conteudo {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* SEÇÕES */

section {
    padding: 80px 40px;
}

section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #1d0303;
    font-family: 'Times New Roman', Times, serif;
}

/* PRINCIPAIS MATÉRIAS */

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

.card {
    background-color: white;
    width: 500px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0,0,0,0.2);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card h3 {
    font-size: 24px;
    margin: 18px 0 10px;
    width: 300px;
    align-items: center;
}

.card p {
    padding: 0 18px;
    color: #555;
}

.card span {
    display:block;
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #d62828;
}

/* BRECHÓS */

.brechos {
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.brechos h2 {
    color: #b66464;
}

.brecho-box {
    background-color: #d62828;
    max-width: 500px;
    margin: auto;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.4);
    align-items: right;
    align-content: center;
    align-self: center;
}

.brecho-box h3 {
    font-size: 28px;
    margin-top: 15px;
}

.brecho-box h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color:#eb0101;
}

/* SOBRE NÓS */

.sobre {
    max-width: 900px;
    margin: auto;
    text-align: left;
}

.sobre p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: left;
}

/* PROJETOS */

.projetos {
    background-color: #eb0101;
}

.depoimentos {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.depoimento {
    background-color: white;
    width: 260px;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 4px 14 px rgba(0,0,0,0.2);
}

.depoimento p {
    margin-top: 15px;
    font-style: italic;
}

/* CONTATO */

.contato {
    background-color: #fff8f0;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #f77f00;
}

button {
    background-color: #d62828;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 17px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #f77f00;
}

/* RODAPÉ */

footer {
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 35px 20px;
}

footer h3 {
    color:#fcbf49;
    margin-bottom: 15px;
}

footer p {
    margin: 8px 0;
}

/* RESPONSIVO */

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        padding: 15px;
    }

    .links a {
        margin: 8px;
        display: inline-block;
        font-size: 14px;
    }

    .banner h1 {
        font-size: 34px;
    }

    .banner p {
        font-size: 18px;
    }

    section {
        padding: 60px 20px;
    }

    .card {
        width: 100px;
        max-width: 330px;
    }

}

.whatsapp {
    position:fixed;
    right: 25px;
    bottom: 25px;
    background-color: #25D366;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: 0.3s;
}

.whatsapp:hover {
    transform: scale(1.1);
}

.mapa {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.2);
}

.mapa h3 {
    color:#d62828;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 14px;
}

.card button {
    margin: 15px;
    background-color: #f77f00;
}

.card button:hover {
    background-color: #d62828;
}